/* Fondo futurista */
.home-container {
  text-align: center;
  padding: 2rem;
  background: #000;
  color: #fff;
  min-height: 100vh;
  background: url("https://www.transparenttextures.com/patterns/cubes.png");
  background-image: url('/assets/juegos.gif');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-size: cover;
}

.titulo {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-family: 'Fredoka One', cursive;
  color: #fff;
  font-weight: bold;
}

/* Grid */
.juegos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}

/* Card */
.juego-card {
  background: #fff;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(0, 255, 255, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
   font-family: 'Fredoka One', cursive
}

.juego-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 30px rgba(255, 0, 255, 0.5);
}

/* Icono */
.icono {
  width: 70px;
  margin-bottom: 1rem;
}

/* Títulos */
.juego-card h3 {
  font-size: 1.5rem;
  color: #000;
  margin-bottom: 0.8rem;
  text-transform: uppercase;
  font-family: 'Fredoka One', cursive
}

.juego-card p {
  font-size: 0.9rem;
  color: #000;
  min-height: 60px;
  margin-bottom: 1rem;
  font-family: 'Fredoka One', cursive
}

/* Botón */
.juego-card button {
  background: linear-gradient(135deg, #ff00ff, #ff0077);
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.juego-card button:hover {
  background: linear-gradient(135deg, #ff33ff, #ff3399);
  transform: scale(1.05);
}

/* Colores individuales */
.ahorcado {
  border-top: 5px solid #8e44ad;
}
.mayor-menor {
  border-top: 5px solid #e84393;
}
.preguntados {
  border-top: 5px solid #00cec9;
}
.numero {
  border-top: 5px solid #55efc4;
}
