<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">Sala de Juegos</a>
    <div class="navbar-nav ms-auto">

      <a class="nav-link"
         routerLink="/quien-soy"
         routerLinkActive="active"
         [@botonAnimacion]="estadoBotones['quienSoy']"
         (mouseenter)="onMouseEnter('quienSoy')"
         (mouseleave)="onMouseLeave('quienSoy')">
        ¿Quién soy?
      </a>

      <a class="nav-link"
         [@botonAnimacion]="estadoBotones['ranking']"
         (mouseenter)="onMouseEnter('ranking')"
         (mouseleave)="onMouseLeave('ranking')"
         (click)="goToRanking()">
        Resultados
      </a>

      <button *ngIf="!isAdmin"
              class="nav-link btn btn-link"
              [@botonAnimacion]="estadoBotones['encuesta']"
              (mouseenter)="onMouseEnter('encuesta')"
              (mouseleave)="onMouseLeave('encuesta')"
              (click)="goToEncuesta()">
        Encuesta
      </button>

      <button *ngIf="isAdmin"
              class="nav-link btn btn-link"
              [@botonAnimacion]="estadoBotones['resultadosEncuesta']"
              (mouseenter)="onMouseEnter('resultadosEncuesta')"
              (mouseleave)="onMouseLeave('resultadosEncuesta')"
              (click)="goToResultadosEncuesta()">
        Resultados Encuestas
      </button>

    </div>
  </div>
</nav>

<!-- Router con animación -->
<div [@routeAnimations]="prepareRoute(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>

<app-sala-chat></app-sala-chat>
